.our-commitment-to {
  margin: 0;
  align-self: stretch;
  height: 144px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  display: inline-block;
  font-style: italic;
  font-weight: 900;
  font-family: inherit;
}
.our-students-love {
  font-family: var(--font-fontspring-demo---darwin-pro);
}
.our-students-love-container {
  margin: 0;
  width: 456px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  color: var(--color-mediumturquoise);
  display: inline-block;
  max-width: 100%;
  font-family: var(--font-tt-chocolates-trl);
}
.list-item {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px 0;
  max-width: 100%;
}
.image-14-icon,
.panel {
  border-radius: var(--br-mini);
}
.image-14-icon {
  width: 563px;
  height: 352px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.panel {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-200);
  z-index: 1;
}
.acres-pollution-free,
.swimming {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  z-index: 2;
}
.swimming {
  margin: 0;
  width: 211px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.acres-pollution-free {
  width: 241px;
  flex-shrink: 0;
}
.mask-group-icon {
  width: 47px;
  height: 47px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.polygon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.arrow,
.line {
  flex-direction: row;
}
.arrow {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.line {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-mid);
  color: var(--color-gainsboro);
}
.dropdown-menu,
.image-14-parent,
.line,
.toggle-button {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.image-14-parent {
  flex: 1;
  border-radius: var(--br-mini);
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-10xs);
  background-image: url(./public/image-14@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 353px;
}
.dropdown-menu,
.toggle-button {
  justify-content: flex-start;
}
.toggle-button {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-32xl);
  box-sizing: border-box;
  color: var(--color-white);
  font-family: var(--font-tt-chocolates-trl);
}
.dropdown-menu {
  width: 666px;
  flex-direction: column;
  gap: 116px 0;
  min-width: 666px;
}
.image-14-icon1,
.slider {
  border-radius: var(--br-mini);
}
.image-14-icon1 {
  width: 563px;
  height: 352px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
  z-index: 1;
}
.acres-pollution-free1,
.taekwondo {
  position: relative;
  letter-spacing: 0.02em;
  z-index: 2;
}
.taekwondo {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.acres-pollution-free1 {
  width: 241px;
  display: inline-block;
  flex-shrink: 0;
}
.mask-group-icon1 {
  width: 47px;
  height: 47px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.polygon1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.arrow1,
.line1 {
  flex-direction: row;
}
.arrow1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.line1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-9xs);
  font-size: var(--font-size-mid);
  color: var(--color-gainsboro);
}
.button,
.image-14-group,
.line1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.image-14-group {
  flex: 1;
  border-radius: var(--br-mini);
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-lgi) var(--padding-24xl);
  position: relative;
  gap: var(--gap-10xs);
  background-image: url(./public/image-14@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 352px;
}
.button {
  width: 651px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-25xl);
}
.image-20-icon {
  height: 159px;
  width: 160px;
  position: relative;
  object-fit: cover;
}
.vector-network-child {
  position: absolute;
  height: 100%;
  width: calc(100% - 1px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 1px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rounded-rect,
.vector-network {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.rounded-rect {
  right: 1px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-200);
  z-index: 1;
}
.vector-network {
  margin: 0 !important;
  right: 0;
}
.acres-pollution-free2,
.horse-riding {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  z-index: 2;
}
.horse-riding {
  margin: 0;
  width: 255px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.acres-pollution-free2 {
  width: 241px;
  flex-shrink: 0;
}
.mask-group-icon2 {
  width: 47px;
  height: 47px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.polygon2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.arrow2,
.line2,
.vector-network-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.arrow2 {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.line2,
.vector-network-parent {
  align-self: stretch;
  box-sizing: border-box;
}
.line2 {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-9xs);
  font-size: var(--font-size-mid);
  color: var(--color-gainsboro);
}
.vector-network-parent {
  filter: drop-shadow(0 8px 125.5px rgba(0, 0, 0, 0.25));
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-lgi) var(--padding-25xl);
  position: relative;
  gap: var(--gap-10xs);
  min-height: 352px;
}
.canvas,
.image {
  align-items: flex-start;
}
.canvas {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-82xl) 0 0;
  box-sizing: border-box;
  min-width: 367px;
  max-width: 100%;
}
.image {
  align-self: stretch;
  flex-direction: row;
  gap: 0 34px;
}
.image,
.image-container,
.link,
.text-area {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.link {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: 9px 0;
}
.image-container,
.text-area {
  align-items: flex-start;
}
.text-area {
  flex: 1;
  flex-direction: column;
  padding: 37px 0 0;
  box-sizing: border-box;
  min-width: 493px;
  color: var(--color-white);
  font-family: var(--font-tt-chocolates-trl);
}
.image-container {
  align-self: stretch;
  flex-direction: row;
  gap: 0 2px;
}
.see-all-activities {
  align-self: stretch;
  height: 27px;
  position: relative;
  letter-spacing: -0.03em;
  display: inline-block;
  flex-shrink: 0;
}
.vector {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  min-width: 175px;
}
.frame-child {
  height: 69px;
  width: 417px;
  position: relative;
  border-radius: var(--br-15xl-5);
  border: 2.5px solid var(--color-tan);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.image-16-icon {
  height: 33px;
  width: 58px;
  position: relative;
  object-fit: cover;
  min-height: 33px;
  z-index: 2;
}
.vector-parent {
  flex: 1;
  border-radius: var(--br-15xl-5);
  border: 2.5px solid var(--color-tan);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-10xl) var(--padding-lg)
    var(--padding-21xl);
  gap: var(--gap-mini);
  max-width: 100%;
  z-index: 1;
}
.triangle {
  width: 543px;
  flex-direction: row;
  padding: 0 63px;
  font-size: var(--font-size-9xl);
  color: var(--color-dimgray);
  font-family: var(--font-tt-chocolates-trl);
}
.conditional-branch,
.text-input,
.triangle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.text-input {
  width: 1446px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  gap: 5px 0;
}
.conditional-branch {
  width: 1632px;
  flex-direction: row;
  padding: 0 0 156px var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-mirador);
}
.grouped,
.image-17-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
}
/* .image-17-icon {
  width: 1728px;
  height: 1012px;
  object-fit: cover;
  display: none;
} */
/* .grouped {
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  z-index: 1;
} */
/* .mask-group-icon3 {
  position: absolute;
  top: 410px;
  left: 768px;
  width: 192px;
  height: 192px;
  object-fit: contain;
  z-index: 2;
} */
.image-17-parent {
  height: 1012px;
  flex: 1;
  position: relative;
  border-radius: var(--br-6xl);
  background-image: url(./public/image-17@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.intersection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 108px;
  box-sizing: border-box;
  max-width: 100%;
}
.image-19-icon {
  height: 481px;
  width: 396px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.text-parser-icon {
  height: 170.6px;
  width: 236px;
  position: relative;
  z-index: 1;
}
.condition-splitter {
  height: 482px;
  width: 396px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-27xl) 11.899999999999636px;
  box-sizing: border-box;
  background-image: url(./public/image-19@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 396px;
  max-width: 100%;
}
.at-tulas-we,
.using-the-latest {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.at-tulas-we {
  margin: 0;
  height: 96px;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-style: italic;
  font-weight: 900;
  font-family: inherit;
}
.using-the-latest {
  font-size: var(--font-size-6xl);
  letter-spacing: 0.03em;
  line-height: 28.67px;
  font-weight: 300;
  font-family: var(--font-tt-chocolates-trl);
  color: var(--color-black);
  min-height: 150px;
}
.output-formatter {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px 0;
}
.frame-item {
  height: 69px;
  width: 424px;
  position: relative;
  border-radius: var(--br-15xl-5);
  background-color: var(--color-white);
  border: 2.5px solid var(--color-tan);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.data-sorting {
  width: calc(100% - 125px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-tt-chocolates-trl);
  font-weight: 700;
  font-size: var(--font-size-9xl);
  color: var(--color-dimgray);
  min-width: 173px;
}
.image-16-icon1 {
  height: 33px;
  width: 58px;
  position: relative;
  object-fit: cover;
  min-height: 33px;
  z-index: 1;
}
.rectangle-parent {
  flex: 1;
  border-radius: var(--br-15xl-5);
  background-color: var(--color-white);
  border: 2.5px solid var(--color-tan);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  gap: 28px;
}
.data-merge,
.input-filter,
.rectangle-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.data-merge {
  width: 440px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.input-filter {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: 56px 0;
}
.data-aggregator,
.descendant-combiner,
.nested-loop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.nested-loop {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-22xl) 0 0;
  min-width: 510px;
}
.data-aggregator,
.descendant-combiner {
  flex-direction: row;
}
.data-aggregator {
  width: 1375px;
  padding: 0 var(--padding-xl) 0 0;
  gap: 0 175px;
}
.descendant-combiner {
  width: 1553px;
  padding: 0 0 149px var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  font-family: var(--font-mirador);
}
.descendant-combiner,
.tis {
  color: var(--color-firebrick);
}
.why-tis-container1 {
  width: 100%;
}
.why-tis-container {
  margin: 0;
  height: 72px;
  width: 600.1px;
  position: relative;
  font-size: inherit;
  display: flex;
  font-style: italic;
  font-weight: 900;
  font-family: inherit;
  align-items: center;
  max-width: 100%;
}
.variable-holder {
  width: 1438.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.a-focus-on,
.management {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-focus-on {
  width: 273px;
  height: 48px;
}
.management {
  height: 72px;
  z-index: 1;
}
.output-formatter1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-41xl);
  color: var(--color-firebrick);
}
.text-normalizer {
  width: 567px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.extremely-friendly-and {
  flex: 1;
  position: relative;
  line-height: 28.67px;
  display: inline-block;
  min-height: 180px;
  max-width: 100%;
}
.data-joiner,
.data-mapper,
.value-splitter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.data-joiner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-6xl);
  font-family: var(--font-tt-chocolates);
}
.data-mapper,
.value-splitter {
  flex-direction: column;
}
.value-splitter {
  align-self: stretch;
  gap: 47px 0;
}
.data-mapper {
  width: 600px;
  padding: 105px 0 0;
  box-sizing: border-box;
  min-width: 600px;
}
.data-collector-icon {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  left: 23px;
  top: 23px;
  transform: scale(1.108);
}
.wrapper-data-collector {
  height: 570px;
  width: 553px;
  position: relative;
  border-radius: var(--br-mini);
  display: flex;
  align-items: center;
  justify-content: center;
}
.condition-checker-child {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
}
.condition-checker {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.campus {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.data-combiner,
.text-manipulator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-combiner {
  flex-direction: column;
  gap: 4px 0;
}
.text-manipulator {
  flex-direction: row;
  padding: 0 26px var(--padding-lgi) 0;
}
.mask-group-icon4 {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.format-combiner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
}
.expert-instruction {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.data-spliterator,
.error-handler {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-spliterator {
  flex: 1;
  flex-direction: column;
}
.error-handler {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-7xs);
}
.mask-group-icon5 {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
}
.function-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
}
.training-methods {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.text-cleanser {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px 0;
}
.output-formatter-chain {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi);
}
.mask-group-icon6 {
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
}
.ratio {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.text-formatting-chain {
  width: 46px;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.error-handler-chain,
.input-validator-chain,
.text-formatting-chain {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-validator-chain {
  flex-direction: column;
  gap: 4px 0;
}

.error-handler-chain {
  flex-direction: row;
  padding: 0 var(--padding-9xl) var(--padding-xs) 0;
}
.data-flow-child {
  width: 107px;
  height: 82px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-crimson-200);
  display: none;
}
.mask-group-icon7 {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.data-processor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl);
}
.management1 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-tt-chocolates);
  color: var(--color-gray-100);
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}
.data-flow {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-8xs);
  background-color: var(--color-crimson-200);
  border-radius: var(--br-xs);
  align-items: flex-end;
  gap: 2px 0;
}
.data-flow,
.input-processor,
.output-parser {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.output-parser {
  align-self: stretch;
  align-items: flex-end;
  gap: 30px 0;
}
.input-processor {
  width: 107px;
  align-items: flex-start;
  padding: 0 0 var(--padding-4xs);
  box-sizing: border-box;
}
.function-caller {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 482px;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  font-family: var(--font-tt-chocolates);
}
.data-deduper,
.data-merger,
.value-transformer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.data-deduper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 0 112px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-goudy-old-style);
}
.data-merger,
.value-transformer {
  justify-content: flex-start;
  box-sizing: border-box;
}
.data-merger {
  width: 1473px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  gap: 47px 0;
}
.value-transformer {
  width: 1603px;
  flex-direction: row;
  padding: 0 0 394px var(--padding-xl);
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--color-gray-100);
  font-family: var(--font-mirador);
}
.blog-1-icon {
  width: 100%;
  height: 660px;
  position: absolute;
  margin: 0 !important;
  top: 3753px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.mask-group-icon8 {
  height: 115px;
  width: 118px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.divine-into-our {
  margin: 0;
  height: 60px;
  width: 482px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.function-node {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.virtual-tour {
  margin: 0;
  height: 60px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  z-index: 2;
}
.root-node {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.b-s-t-deletion-node {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-lgi);
  font-size: var(--font-size-mini);
  font-family: var(--font-tt-chocolates-trl);
}
.group-div,
.root-node {
  flex-direction: column;
}
.group-div {
  align-self: stretch;
  height: 246px;
  border-radius: var(--br-7xs);
  background-color: var(--color-firebrick);
  box-shadow: 0 4px 26.6px rgba(0, 0, 0, 0.4);
  padding: var(--padding-14xl) 0 var(--padding-23xl);
  box-sizing: border-box;
  gap: var(--gap-xs-5);
  z-index: 1;
}
.root-node {
  height: 286px;
  width: 248px;
}
.div,
.frame-child3,
.in-uttarakhand {
  align-self: stretch;
  position: relative;
}
.frame-child3 {
  height: 246px;
  border-radius: var(--br-7xs);
  background-color: var(--color-firebrick);
  display: none;
}
.div,
.in-uttarakhand {
  height: 54px;
  letter-spacing: 0.02em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.in-uttarakhand {
  height: 40px;
  font-size: var(--font-size-6xl);
  font-weight: 900;
  font-family: var(--font-mirador);
}
.co-educational-boarding-school1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  z-index: 1;
}
.co-educational-boarding-school-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi);
  font-size: var(--font-size-mini);
  font-family: var(--font-tt-chocolates-trl);
}
.rectangle-parent1,
.root-node1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent1 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-firebrick);
  box-shadow: 0 4px 26.6px rgba(0, 0, 0, 0.4);
  padding: var(--padding-14xl) 0 var(--padding-23xl);
  gap: var(--gap-xs-5);
  z-index: 1;
}
.root-node1 {
  height: 286px;
  width: 248px;
}
.frame-child4 {
  align-self: stretch;
  height: 246px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-firebrick);
  display: none;
}
.div1 {
  align-self: stretch;
  flex: 1;
}
.co-educational-boarding-school2,
.div1,
.in-india {
  position: relative;
  letter-spacing: 0.02em;
  z-index: 1;
}
.in-india {
  align-self: stretch;
  height: 40px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-weight: 900;
  font-family: var(--font-mirador);
  flex-shrink: 0;
}
.co-educational-boarding-school2 {
  flex: 1;
}
.co-educational-boarding-school-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi);
  font-size: var(--font-size-mini);
  font-family: var(--font-tt-chocolates-trl);
}
.rectangle-parent2,
.root-node2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent2 {
  align-self: stretch;
  height: 246px;
  border-radius: var(--br-7xs);
  background-color: var(--color-firebrick);
  box-shadow: 0 4px 26.6px rgba(0, 0, 0, 0.4);
  padding: var(--padding-14xl) 0 var(--padding-23xl);
  box-sizing: border-box;
  gap: var(--gap-xs-5);
  z-index: 1;
}
.root-node2 {
  height: 286px;
  width: 248px;
}
